<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings" schemaVersion="2014-05-30">
  <InstrumentationKey>00000000-0000-0000-0000-000000000000</InstrumentationKey>
  <TelemetryModules>
    <Add Type="Microsoft.ApplicationInsights.ExceptionTracking.ExceptionTrackingTelemetryModule, Microsoft.AI.ExceptionTracking">
      <ExceptionTracking>
        <Add Type="Microsoft.ApplicationInsights.ExceptionTracking.Function, Microsoft.AI.ExceptionTracking">
          <Name>System.Net.HttpWebRequest.GetResponse</Name>
          <ArgumentsCount>0</ArgumentsCount>
          <AssemblyName>System</AssemblyName>
          <ModuleName>System.dll</ModuleName>
        </Add>
      </ExceptionTracking>
    </Add>
  </TelemetryModules>
</ApplicationInsights>

<!--The application level ASP.NET environment processes handler-->
<!--ss:handler name="System.Web.HttpRuntime.FinishRequest" paramCount="4"/-->
<ss:handler name="System.Web.HttpApplication.RecordError" paramCount="2" module="System.Web.dll"/>
<!--The page level ASP.NET environment processes handler-->
<ss:handler name="System.Web.UI.Page.HandleError" paramCount="2" module="System.Web.dll"/>
<!--Web services-->
<ss:handler name="System.Web.Services.Protocols.WebServiceHandler.WriteException" paramCount="2" module="System.Web.Services.dll"/>
<!--Console-->
<ss:handler name="System.AppDomain.OnUnhandledExceptionEvent" module="mscorlib.dll"/>
<!--WinForms-->
<ss:handler name="System.Windows.Forms.Application@ThreadContext.OnThreadException" module="System.Windows.Forms.dll"/>
<ss:handler name="System.Windows.Forms.DataGridView.OnDataError" module="System.Windows.Forms.dll"/>

<!--WWF handler-->
<ss:handler name="System.Workflow.Runtime.WorkflowExecutor.IsIrrecoverableException" enable="true" module="System.Workflow.Runtime.dll"/>
<!-- WCF handlers -->
<ss:handler name="System.ServiceModel.DiagnosticUtility.IsFatal" enable="true" module="System.ServiceModel.dll"/>
<!-- MVC exception filter -->
<ss:handler name="System.Web.Mvc.ControllerActionInvoker.InvokeExceptionFilters" paramCount="4" module="System.Web.Mvc.dll"/>

<!-- ASP.NET Web API -->
<ss:handler name="System.Threading.Tasks.TaskHelpers.FromError" module="System.Web.Mvc.dll"/>
<ss:handler name="System.Web.Http.Dispatcher.HttpControllerDispatcher.HandleException" module="System.Web.Services.dll"/>

<!-- SharePoint handlers-->
<ss:handler name="Microsoft.Office.Server.Data.SqlSession.LogException" paramCount="2" module="Microsoft.Office.Server.dll"/>
<ss:handler name="Microsoft.Office.Excel.Server.CalculationServer.Proxy.ExcelServerProxy.ProcessSoapException" module="Microsoft.Office.Excel.Server.CalculationServer.Proxy.dll"/>
<ss:handler name="Microsoft.Office.Excel.Server.CalculationServer.Proxy.ExcelServerProxy.ProcessWebException" module="Microsoft.Office.Excel.Server.CalculationServer.Proxy.dll"/>
<ss:handler name="Microsoft.SharePoint.Portal.WebControls.BusinessDataWebPart.ConstructErrorMessage" module="Microsoft.SharePoint.Portal.dll"/>
<ss:handler name="Microsoft.SharePoint.Diagnostics.ULS.SendEventTag" module="Microsoft.SharePoint.dll"/>
<!--<ss:handler name="Microsoft.SharePoint.ApplicationRuntime.SPRequestModule.IsWebPartOnExceptionStack"/>-->
<ss:handler name="Microsoft.SharePoint.Utilities.SqlSession.LogException" module="Microsoft.SharePoint.dll"/>
<ss:handler name="Microsoft.Office.Web.Environment.Sharepoint.Diagnostics.ULS.SendExceptionTag" module="Microsoft.Office.Web.Environment.Sharepoint.dll"/>
<ss:handler name="Microsoft.SharePoint.Diagnostics.ULS.SendExceptionTag" module="Microsoft.SharePoint.dll"/>
<ss:handler name="Microsoft.Office.Server.Diagnostics.ULS.SendExceptionTag" module="Microsoft.Office.Server.dll"/>







  <!-- ASP.NET Web API -->
  <ss:method name="System.Web.Http.Dispatcher.DefaultHttpControllerSelector.SelectController" include="true" module="System.Web.Http.dll"/>
  <ss:method name="System.Web.Http.Controllers.ApiControllerActionSelector.SelectAction" include="true" module="System.Web.Http.dll"/>
  <!--Azure SDK-->
  <ss:method name="Microsoft.WindowsAzure.ServiceManagementClient.CloudManagmentClient.DoOperation" include="true" module="Microsoft.WindowsAzure.ServiceManagementClient.dll"/>
  <ss:method name="Microsoft.WindowsAzure.StorageClient.CloudDrive.CopyTo" include="true" module="Microsoft.WindowsAzure.CloudDrive.dll"/>
  <ss:method name="Microsoft.WindowsAzure.StorageClient.CloudDrive.Create" include="true" module="Microsoft.WindowsAzure.CloudDrive.dll"/>
  <ss:method name="Microsoft.WindowsAzure.StorageClient.CloudDrive.CreateIfNotExist" include="true" module="Microsoft.WindowsAzure.CloudDrive.dll"/>
  <ss:method name="Microsoft.WindowsAzure.StorageClient.CloudDrive.Delete" include="true" module="Microsoft.WindowsAzure.CloudDrive.dll"/>
  <ss:method name="Microsoft.WindowsAzure.StorageClient.CloudDrive.GetMountedDrives" include="true" module="Microsoft.WindowsAzure.CloudDrive.dll"/>
  <ss:method name="Microsoft.WindowsAzure.StorageClient.CloudDrive.InitializeCache" include="true" module="Microsoft.WindowsAzure.CloudDrive.dll"/>
  <ss:method name="Microsoft.WindowsAzure.StorageClient.CloudDrive.MountAt" include="true" module="Microsoft.WindowsAzure.CloudDrive.dll"/>
  <ss:method name="Microsoft.WindowsAzure.StorageClient.CloudDrive.NewCloudDriveException" include="true" module="Microsoft.WindowsAzure.CloudDrive.dll"/>
  <ss:method name="Microsoft.WindowsAzure.StorageClient.CloudDrive.Snapshot" include="true" module="Microsoft.WindowsAzure.CloudDrive.dll"/>
  <ss:method name="Microsoft.WindowsAzure.StorageClient.CloudDrive.Unmount" include="true" module="Microsoft.WindowsAzure.CloudDrive.dll"/>
  <ss:method name="Microsoft.WindowsAzure.CloudStorageAccount.TryParse" include="true" module="Microsoft.WindowsAzure.StorageClient.dll"/>
  <!-- System.Net.Sockets.Socket -->
  <ss:method name="System.Net.Sockets.Socket.BeginSend" include="true" module="System.dll"/>

  <ss:method name="System.Linq.Enumerable.Aggregate" include="true" module="System.Core.dll"/>
  <ss:method name="System.Linq.Enumerable.All" include="true" module="System.Core.dll"/>
  <ss:method name="System.Linq.Enumerable.Any" include="true" module="System.Core.dll"/>
  <ss:method name="System.Linq.Enumerable.Average" include="true" module="System.Core.dll"/>
  <ss:method name="System.Linq.Enumerable.Contains" paramCount="2" include="true" module="System.Core.dll"/>
  <ss:method name="System.Linq.Enumerable.Count" include="true" module="System.Core.dll"/>
  <ss:method name="System.Linq.Enumerable.ElementAt" include="true" module="System.Core.dll"/>
  <ss:method name="System.Linq.Enumerable.ElementAtOrDefault" include="true" module="System.Core.dll"/>
  <ss:method name="System.Linq.Enumerable.First" include="true" module="System.Core.dll"/>
  <ss:method name="System.Linq.Enumerable.FirstOrDefault" include="true" module="System.Core.dll"/>
  <ss:method name="System.Linq.Enumerable.Last" include="true" module="System.Core.dll"/>
  <ss:method name="System.Linq.Enumerable.LongCount" include="true" module="System.Core.dll"/>
  <ss:method name="System.Linq.Enumerable.Max" paramCount="1" include="true" module="System.Core.dll"/>
  <ss:method name="System.Linq.Enumerable.Min" paramCount="1" include="true" module="System.Core.dll"/>
  <ss:method name="System.Linq.Enumerable.SequenceEqual" include="true" module="System.Core.dll"/>
  <ss:method name="System.Linq.Enumerable.Single" include="true" module="System.Core.dll"/>
  <ss:method name="System.Linq.Enumerable.SingleOrDefault" include="true" module="System.Core.dll"/>
  <ss:method name="System.Linq.Enumerable.Sum" paramCount="1" include="true" module="System.Core.dll"/>
  <ss:method name="System.Linq.Enumerable.ToDictionary" paramCount="4" include="true" module="System.Core.dll"/>

  <ss:method name="System.Linq.Queryable.Aggregate" include="true" module="System.Core.dll"/>
  <ss:method name="System.Linq.Queryable.All" include="true" module="System.Core.dll"/>
  <ss:method name="System.Linq.Queryable.Any" include="true" module="System.Core.dll"/>
  <ss:method name="System.Linq.Queryable.Average" include="true" module="System.Core.dll"/>
  <ss:method name="System.Linq.Queryable.Contains" paramCount="2" include="true" module="System.Core.dll"/>
  <ss:method name="System.Linq.Queryable.Count" include="true" module="System.Core.dll"/>
  <ss:method name="System.Linq.Queryable.ElementAt" include="true" module="System.Core.dll"/>
  <ss:method name="System.Linq.Queryable.ElementAtOrDefault" include="true" module="System.Core.dll"/>
  <ss:method name="System.Linq.Queryable.First" include="true" module="System.Core.dll"/>
  <ss:method name="System.Linq.Queryable.FirstOrDefault" include="true" module="System.Core.dll"/>
  <ss:method name="System.Linq.Queryable.Last" include="true" module="System.Core.dll"/>
  <ss:method name="System.Linq.Queryable.LongCount" include="true" module="System.Core.dll"/>
  <ss:method name="System.Linq.Queryable.Max" paramCount="1" include="true" module="System.Core.dll"/>
  <ss:method name="System.Linq.Queryable.Min" paramCount="1" include="true" module="System.Core.dll"/>
  <ss:method name="System.Linq.Queryable.SequenceEqual" include="true" module="System.Core.dll"/>
  <ss:method name="System.Linq.Queryable.Single" include="true" module="System.Core.dll"/>
  <ss:method name="System.Linq.Queryable.SingleOrDefault" include="true" module="System.Core.dll"/>
  <ss:method name="System.Linq.Queryable.Sum" paramCount="1" include="true" module="System.Core.dll"/>

  <!--ADOMD-->
  <ss:method name="Microsoft.AnalysisServices.AdomdClient.AdomdTransaction.Rollback" module="Microsoft.AnalysisServices.AdomdClient.dll"/>
  <ss:method name="Microsoft.AnalysisServices.AdomdClient.AdomdDataAdapter.Fill" module="Microsoft.AnalysisServices.AdomdClient.dll"/>
  <ss:method name="Microsoft.AnalysisServices.AdomdClient.AdomdConnection.Open" module="Microsoft.AnalysisServices.AdomdClient.dll"/>

  <!-- Socket -->
  <ss:method name="System.Net.Sockets.Socket.DoConnect" paramCount="3" include="true" module="System.dll"/>
  <ss:method name="System.Net.Sockets.Socket.Connect" paramCount="2" include="true" module="System.dll"/>
  <ss:method name="System.Net.Sockets.Socket.Receive" paramCount="5" include="true" module="System.dll"/>
  <ss:method name="System.Net.Sockets.Socket.Send" paramCount="5" include="true" module="System.dll"/>
  <ss:method name="System.Net.Sockets.Socket.Listen" paramCount="2" include="true" module="System.dll"/>
  <ss:method name="System.Net.Sockets.TcpClient.Connect" include="true" module="System.dll"/>

  <ss:method name="System.Net.HttpWebRequest.GetResponse" include="true" paramCount="1" module="System.dll"/>
  <ss:method name="System.Net.HttpWebRequest.GetRequestStream" include="true" paramCount="1" module="System.dll"/>
  <ss:method name="System.Net.FileWebRequest.GetResponse" paramCount="1" include="true" module="System.dll"/>
  <ss:method name="System.Net.FileWebRequest.GetRequestStream" paramCount="1" include="true" module="System.dll"/>
  <ss:method name="System.Net.FtpWebRequest.GetResponse" paramCount="1" include="true" module="System.dll"/>
  <ss:method name="System.Net.FtpWebRequest.GetRequestStream" paramCount="1" include="true" module="System.dll"/>
  <ss:method name="System.Net.WebClient.OpenRead" include="true" paramCount="2" module="System.dll"/>

  <!-- System.Web -->
  <ss:method name="System.Web.HttpRequest.ValidateInputIfRequiredByConfig" include="true" module="System.Web.dll"/>
  <ss:method name="System.Net.HttpWebRequest.Execute" include="true" module="System.Web.dll"/>
  <ss:method name="System.Net.HttpWebRequest.ExecuteInternal" include="true" module="System.Web.dll"/>
  <ss:method name="System.Web.UI.LosFormatter.Deserialize" include="true" module="System.Web.dll"/>
  <ss:method name="System.Web.UI.TemplateParser.GetType" include="true" module="System.Web.dll"/>
  <ss:method name="System.Web.UI.TemplateParser.GetParserCacheItem" include="true" module="System.Web.dll"/>
  <ss:method name="System.Web.UI.TemplateParser.Parse" include="true" module="System.Web.dll"/>
  <ss:method name="System.Web.UI.TemplateParser.ParseString" include="true" module="System.Web.dll"/>
  <ss:method name="System.Web.UI.TemplateParser.ParseFile" include="true" module="System.Web.dll"/>
  <ss:method name="System.Web.UI.TemplateParser.System.Web.UI.Page.LoadPageStateFromPersistenceMedium" include="true" module="System.Web.dll"/>

  <!-- Remoting -->
  <ss:method name="System.Runtime.Remoting.Proxies.RealProxy.HandleReturnMessage" paramCount="2" include="true" module="mscorlib.dll"/>
  <ss:method name="System.Web.Services.Protocols.SoapHttpClientProtocol.ReadResponse" include="true" module="System.Web.Services.dll"/>
  <ss:method name="System.Runtime.Remoting.Channels.Http.HttpRemotingHandler.ProcessRequest" include="true" module="System.Runtime.Remoting.dll"/>
  <ss:method name="System.Runtime.Remoting.Proxies.RealProxy.PrivateInvoke" include="true" module="mscorlib.dll"/>
  <!-- System.EnterpriseServices -->
  <ss:method name="System.EnterpriseServices.ServicedComponentProxy.CrossCtxInvoke" include="true" module="System.EnterpriseServices.dll"/>
  <!-- DB -->
  <ss:method name="Sybase.Data.AseClient.AseConnection.Open" paramCount="1" include="true" module="Sybase.Data.AseClient.dll"/>
  <ss:method name="System.Data.SqlClient.TdsParser.Connect" module="System.Data.dll"/>
  <ss:method name="System.Data.Odbc.OdbcConnection.ConnectionIsAlive" paramCount="2" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.OdbcTransaction.Rollback" paramCount="1" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.OleDb.OleDbTransaction.Rollback" paramCount="1" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlClient.SqlTransaction.Rollback" paramCount="1" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.OleDb.OleDbCommand.ExecuteCommandTextErrorHandling" paramCount="2" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.OleDb.OleDbCommand.System.Data.IDbCommand.ExecuteReader" include="true" module="System.Data.dll"/>

  <ss:method name="System.Data.Common.DataAdapter.Fill" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.Common.DbDataAdapter.Fill" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.OleDb.OleDbDataAdapter.Fill" include="true" module="System.Data.dll"/>
  <ss:method name="IBM.Data.DB2.DB2DataAdapter.Fill" include="true" module="IBM.Data.DB2.dll"/>

  <ss:method name="System.Data.SqlClient.SqlInternalConnection.OnError" include="true" module="System.Data.dll"/>
  <!-- Parsing -->
  <ss:method name="System.Byte.Parse" paramCount="3" include="true" module="System.dll"/>
  <ss:method name="System.SByte.Parse" paramCount="3" include="true" module="System.dll"/>
  <ss:method name="System.Int16.Parse" paramCount="3" include="true" module="System.dll"/>
  <ss:method name="System.Int32.Parse" include="true" module="System.dll"/>
  <ss:method name="System.Int64.Parse" include="true" module="System.dll"/>
  <ss:method name="System.UInt16.Parse" include="true" module="System.dll"/>
  <ss:method name="System.UInt32.Parse" include="true" module="System.dll"/>
  <ss:method name="System.UInt64.Parse" include="true" module="System.dll"/>
  <ss:method name="System.Single.Parse" paramCount="3" include="true" module="System.dll"/>
  <ss:method name="System.Double.Parse" paramCount="3" include="true" module="System.dll"/>
  <ss:method name="System.Boolean.Parse" include="true" module="System.dll"/>
  <ss:method name="System.Char.Parse" include="true" module="System.dll"/>
  <ss:method name="System.Decimal.Parse" include="true" module="System.dll"/>
  <ss:method name="System.DateTime.Parse" paramCount="3" include="true" module="System.dll"/>
  <ss:method name="System.DateTime.ParseExact" include="true" module="System.dll"/>
  <ss:method name="System.TimeSpan.Parse" include="true" module="System.dll"/>
  <ss:method name="System.Numerics.BigInteger.Parse" include="true" module="System.Numerics.dll"/>

  <ss:method name="System.Data.SqlTypes.SqlBoolean.Parse" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlByte.Parse" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlDateTime.Parse" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlDecimal.Parse" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlDouble.Parse" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlInt16.Parse" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlInt32.Parse" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlInt64.Parse" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlMoney.Parse" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlSingle.Parse" include="true" module="System.Data.dll"/>

  <ss:method name="System.Data.SqlTypes.SqlBoolean.ToSqlByte" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlBoolean.ToSqlDecimal" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlBoolean.ToSqlDouble" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlBoolean.ToSqlInt16" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlBoolean.ToSqlInt32" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlBoolean.ToSqlInt64" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlBoolean.ToSqlMoney" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlBoolean.ToSqlSingle" include="true" module="System.Data.dll"/>

  <ss:method name="System.Data.SqlTypes.SqlByte.ToSqlBoolean" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlByte.ToSqlDecimal" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlByte.ToSqlDouble" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlByte.ToSqlInt16" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlByte.ToSqlInt32" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlByte.ToSqlInt64" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlByte.ToSqlMoney" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlByte.ToSqlSingle" include="true" module="System.Data.dll"/>

  <ss:method name="System.Data.SqlTypes.SqlDateTime.ToDateTime" include="true" module="System.Data.dll"/>

  <ss:method name="System.Data.SqlTypes.SqlDecimal.ToDouble" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlDecimal.ToDecimal" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlDecimal.ToSqlBoolean" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlDecimal.ToSqlByte" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlDecimal.ToSqlDouble" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlDecimal.ToSqlInt16" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlDecimal.ToSqlInt32" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlDecimal.ToSqlInt64" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlDecimal.ToSqlMoney" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlDecimal.ToSqlSingle" include="true" module="System.Data.dll"/>

  <ss:method name="System.Data.SqlTypes.SqlDouble.ToSqlBoolean" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlDouble.ToSqlByte" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlDouble.ToSqlDecimal" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlDouble.ToSqlInt16" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlDouble.ToSqlInt32" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlDouble.ToSqlInt64" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlDouble.ToSqlMoney" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlDouble.ToSqlSingle" include="true" module="System.Data.dll"/>

  <ss:method name="System.Data.SqlTypes.SqlInt16.ToSqlBoolean" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlInt16.ToSqlByte" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlInt16.ToSqlDecimal" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlInt16.ToSqlDouble" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlInt16.ToSqlInt32" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlInt16.ToSqlInt64" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlInt16.ToSqlMoney" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlInt16.ToSqlSingle" include="true" module="System.Data.dll"/>

  <ss:method name="System.Data.SqlTypes.SqlInt32.ToSqlBoolean" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlInt32.ToSqlByte" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlInt32.ToSqlDecimal" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlInt32.ToSqlDouble" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlInt32.ToSqlInt16" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlInt32.ToSqlInt64" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlInt32.ToSqlMoney" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlInt32.ToSqlSingle" include="true" module="System.Data.dll"/>

  <ss:method name="System.Data.SqlTypes.SqlInt64.ToSqlBoolean" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlInt64.ToSqlByte" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlInt64.ToSqlDecimal" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlInt64.ToSqlDouble" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlInt64.ToSqlInt16" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlInt64.ToSqlInt32" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlInt64.ToSqlMoney" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlInt64.ToSqlSingle" include="true" module="System.Data.dll"/>

  <ss:method name="System.Data.SqlTypes.SqlMoney.ToDecimal" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlMoney.ToDouble" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlMoney.ToInt32" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlMoney.ToInt64" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlMoney.ToSqlBoolean" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlMoney.ToSqlByte" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlMoney.ToSqlDecimal" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlMoney.ToSqlDouble" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlMoney.ToSqlInt16" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlMoney.ToSqlInt32" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlMoney.ToSqlInt64" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlMoney.ToSqlSingle" include="true" module="System.Data.dll"/>

  <ss:method name="System.Data.SqlTypes.SqlSingle.ToSqlBoolean" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlSingle.ToSqlByte" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlSingle.ToSqlDecimal" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlSingle.ToSqlDouble" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlSingle.ToSqlInt16" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlSingle.ToSqlInt32" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlSingle.ToSqlInt64" include="true" module="System.Data.dll"/>
  <ss:method name="System.Data.SqlTypes.SqlSingle.ToSqlMoney" include="true" module="System.Data.dll"/>

  <ss:method name="System.Windows.Forms.Formatter.FormatObject" paramCount="8" include="true" module="System.Windows.Forms.dll"/>
  <ss:method name="System.Drawing.Image.FromFile" paramCount="2" include="true" module="System.Drawing.dll"/>
  <ss:method name="System.Drawing.Image.FromHbitmap" paramCount="2" include="true" module="System.Drawing.dll"/>
  <ss:method name="System.Drawing.Image.FromStream" paramCount="3" include="true" module="System.Drawing.dll"/>

  <!-- System.Diagnostics -->
  <ss:method name="System.Diagnostics.EventLog.WriteEntry" include="true" module="System.dll"/>

  <!-- XML -->
  <!--<ss:method name="System.Xml.XmlDocument" include="true"/>
      <ss:method name="System.Xml.XmlTextReader" include="true"/>-->

  <!-- VB -->
  <ss:method name="Microsoft.VisualBasic.ErrObject.Raise" include="true" module="Microsoft.VisualBasic.dll"/>
  <!--WWF Initialization-->
  <ss:method name="System.Workflow.Runtime.WorkflowRuntime.InternalCreateWorkflow" module="System.Workflow.Runtime.dll"/>
  <ss:method name="System.Xml.Schema.Parser.Parse" include="true" module="System.Xml.dll"/>

  <ss:method name="System.Net.Dns.GetHostName" include="true" module="System.dll"/>
  <ss:method name="System.Net.Dns.GetAddrInfo" include="true" module="System.dll"/>
  <ss:method name="System.Net.Dns.GetHostByAddress" include="true" module="System.dll"/>
  <ss:method name="System.Net.Dns.GetHostByName" include="true" module="System.dll"/>
  <ss:method name="System.Net.Dns.GetNameInfo" include="true" module="System.dll"/>

  <!-- Interface -->
  <ss:method name="System.ServiceModel.Activation.HttpHandler.ProcessRequest" include="true" module="System.ServiceModel.dll"/>
  <ss:method name="System.Web.Handlers.ScriptResourceHandler.ProcessRequest" include="true" module="System.Web.Extensions.dll"/>
  <ss:method name="System.Web.Script.Services.RestHandler.ProcessRequest" include="true" module="System.Web.Extensions.dll"/>
  <ss:method name="System.Web.Script.Services.ScriptHandlerFactory@HandlerWrapper.ProcessRequest" include="true" module="System.Web.Extensions.dll"/>
  <ss:method name="System.Web.Services.Protocols.SyncSessionHandler.ProcessRequest" include="true" module="System.Web.Services.dll"/>

  <ss:method name="System.Web.HttpApplication.System.Web.IHttpAsyncHandler.BeginProcessRequest" include="true" module="System.Web.Services.dll"/>
  <ss:method name="System.Web.Mvc.MvcHandler.BeginProcessRequest" include="true" module="System.Web.Mvc.dll"/>

  <!-- MVC -->
  <ss:method name="System.Web.Mvc.DefaultControllerFactory.CreateController" include="true" module="System.Web.Mvc.dll"/>
  <ss:method name="(System.Web.Mvc.IControllerFactory).CreateController" include="true" module="System.Web.Mvc.dll"/>

  <ss:method name="System.Web.UI.Util.CheckVirtualFileExists" module="System.Web.dll"/>
  <!-- SharePoint -->
  <ss:method name="Microsoft.Office.Excel.Server.CalculationServer.ExcelServiceSoap.PostProcessRequest" module="Microsoft.Office.Excel.Server.CalculationServer.dll"/>
  <ss:method name="Microsoft.Office.Server.UserProfiles.UserProfileManager.GetUserProfile" module="Microsoft.Office.Server.UserProfiles.dll"/>
  <ss:method name="Microsoft.Office.Excel.Server.CalculationServer.Proxy.ExcelServerProxy.ExecuteWebMethod" module="Microsoft.Office.Excel.Server.CalculationServer.Proxy.dll"/>
  <ss:method name="Microsoft.Office.Server.ApplicationRegistry.MetadataModel.LobSystemInstance.OpenConnection" module="Microsoft.SharePoint.Portal.dll"/>

  <!-- ASP.NET Parse Methods -->
  <ss:method name="System.Web.UI.WebControls.Unit.Parse" module="System.Web.dll" include="true"/>
  <ss:method name="System.Web.UI.WebControls.Unit.GetTypeFromString" module="System.Web.dll" include="true"/>
  <ss:method name="System.Web.UI.WebControls.FontUnit.Parse" module="System.Web.dll" include="true"/>