<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
    <InstrumentationKey>28e99143-5f21-434b-bb19-ef939a676414</InstrumentationKey>
    <TelemetryModules>
        <Add Type="Microsoft.ApplicationInsights.Wcf.RequestTrackingTelemetryModule, Microsoft.AI.Wcf"/>
        <Add Type="Microsoft.ApplicationInsights.Wcf.ExceptionTrackingTelemetryModule, Microsoft.AI.Wcf"/>
        <Add Type="Microsoft.ApplicationInsights.Wcf.Tests.TraceTelemetryModule, Microsoft.AI.Wcf.Tests.Net40"/>
    </TelemetryModules>
    <TelemetryInitializers>
        <Add Type="Microsoft.ApplicationInsights.Wcf.OperationNameTelemetryInitializer, Microsoft.AI.Wcf"/>
        <Add Type="Microsoft.ApplicationInsights.Wcf.OperationCorrelationTelemetryInitializer, Microsoft.AI.Wcf"/>
        <Add Type="Microsoft.ApplicationInsights.Wcf.UserTelemetryInitializer, Microsoft.AI.Wcf"/>
        <Add Type="Microsoft.ApplicationInsights.Wcf.UserAgentTelemetryInitializer, Microsoft.AI.Wcf"/>
        <Add Type="Microsoft.ApplicationInsights.Wcf.ClientIpTelemetryInitializer, Microsoft.AI.Wcf"/>
    </TelemetryInitializers>
    <TelemetryChannel Type="Microsoft.ApplicationInsights.Wcf.Tests.Channels.TestTelemetryChannel, Microsoft.AI.Wcf.Tests.Net40"/>
</ApplicationInsights>