<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <InstrumentationKey>AID-6921fb64-b43f-4512-9649-b41ca49c6960</InstrumentationKey>
  <TelemetryChannel Type="Microsoft.ApplicationInsights.Channel.InMemoryChannel, Microsoft.ApplicationInsights">
    <EndpointAddress>https://dc.services.vsallin.net/v2/track</EndpointAddress>
  </TelemetryChannel>
  <!-- 
    Learn more about Application Insights configuration with ApplicationInsights.config here: 
    http://go.microsoft.com/fwlink/?LinkID=513840
    
    Note: If not present, please add <InstrumentationKey>Your Key</InstrumentationKey> to the top of this file.
  -->
  <TelemetryModules>
    <Add Type="Microsoft.ApplicationInsights.Extensibility.Implementation.Tracing.DiagnosticsTelemetryModule, Microsoft.ApplicationInsights"/>
    <Add Type="Microsoft.ApplicationInsights.Extensibility.AggregateMetrics.AggregateMetricsTelemetryModule, Microsoft.ApplicationInsights.AggregateMetrics"/>
  </TelemetryModules>
</ApplicationInsights>