<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <TelemetryModules>
    <Add Type="Microsoft.ApplicationInsights.Extensibility.AggregateMetrics.One.AggregateMetricsTelemetryModule, Microsoft.ApplicationInsights.AggregateMetrics">
      <FlushIntervalSeconds>10</FlushIntervalSeconds>
    </Add>
  </TelemetryModules>
</ApplicationInsights>