<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings" schemaVersion="2014-05-30">
  <InstrumentationKey>00000000-0000-0000-0000-000000000000</InstrumentationKey>
  <TelemetryModules>
    <Add Type="Microsoft.ApplicationInsights.ExceptionTracking.ExceptionTrackingTelemetryModule, Microsoft.AI.ExceptionTracking">
      <ExceptionTracking>
        <Add Type="Microsoft.ApplicationInsights.ExceptionTracking.Function">
          <Name>Test</Name>
          <ArgumentsCount>0</ArgumentsCount>
          <AssemblyName>assembly</AssemblyName>
          <ModuleName>module</ModuleName>
        </Add>
      </ExceptionTracking>
    </Add>
  </TelemetryModules>
</ApplicationInsights>